#!/bin/sh
#echo "Timer-Aufnahme..." >> /tmp/test.txt
#if [ -e /dev/dbox/oled0 ]; then
#	CVFD=/dev/dbox/oled0
#else
#	CVFD=/dev/vfd
#fi
#showRecord() {
#	while [ -e /tmp/.timer_record ]; do
#		echo ">>>  Timer   <<<" > $CVFD
#		sleep 2
#		echo ">>> Aufnahme <<<" > $CVFD
#		sleep 2
#	done
#}
	[ ! -e /tmp/.timer_record ] && touch /tmp/.timer_record
#	if [ -e /var/etc/.timer_wake_up ]; then
#		showRecord &
#	fi
# RAM-Cleaner stoppen
#if [ -f /var/etc/msettings.conf ]; then
#	if [ "$(grep -i "RAMCLEAN=" /var/etc/msettings.conf | cut -d "=" -f 2)" != "0" -a ! -e /tmp/.recording ]; then
#		sync
#		echo "3" > /proc/sys/vm/drop_caches
#		touch /tmp/.ram_cleaner_pause
#	fi
#	echo -e "\033[01;31mRam Clean Stop......\033[00m"
#fi
touch /tmp/.recording
	echo -e "\033[01;32mAufnahme Timer......\033[00m"
exit 0
